name: CI

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency: ${{ github.workflow }}-${{ github.ref }}

env:
  # The node version to release with, generally the latest LTS
  release_node: 20.x

jobs:
  build:
    strategy:
      matrix:
        # Test against multiple node versions
        # Last 2 LTS, current LTS, current, and next LTS (if not same as current)
        node: [16.x, 18.x, 20.x, 21.x, 22.x]
    name: Build, Test & Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v3
        with:
          version: 9

      - name: Setup Node.js ${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm install

      - name: Turbo build
        run: pnpm turbo build

      - name: Lint, Prettier, and Typecheck
        run: pnpm lint:ci

      - name: Test packages
        run: pnpm test
        env:
          VITE_BLIZZARD_CLIENT_ID: ${{ secrets.BLIZZARD_CLIENT_ID }}
          VITE_BLIZZARD_CLIENT_SECRET: ${{ secrets.BLIZZARD_CLIENT_SECRET }}

      # Only release with the version set in release_node and on a push to main
      - if: ${{ matrix.node == env.release_node && github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          # This expects you to have a script called release which does a build for your packages and calls changeset publish
          publish: pnpm release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
